<ion-view title="" id="page20">
  <ion-content padding="true" class="has-header">
    <div>
      <p style="text-align: center;">
        <span style="color: #003366;">
          <strong>INTENDENTE Y VICEINTENDENTE</strong>
        </span>
      </p>
      <p style="text-align: center;">
        <strong> EN CADA UNO DE LOS 18 DEPARTAMENTOS DE LA PROVINCIA</strong>
      </p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div>
      <img src="img/dx5zZ0fRXKB2AQIi78Xw_ImagenMenudesplegable.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>