<ion-view title="" id="page21">
  <ion-content padding="true" class="has-header">
    <div>
      <p style="text-align: center;">
        <span style="color: #003366;">
          <strong>CONCEJALES MUNICIPALES</strong>
        </span>
      </p>
      <p style="text-align: center;">
        <span style="color: #000000;">
          <strong>PERÍODO 2019-2023</strong>
        </span>
      </p>
      <p>&nbsp;</p>
      <p>
        <strong>EN LOS SIGUIENTES DEPARTAMENTOS: </strong>
      </p>
      <p>&nbsp;</p>
      <p>*
        <strong>Ángel Vicente Peñaloza</strong>: 7 Concejales</p>
      <p>*
        <strong>Arauco</strong>: 11 Concejales</p>
      <p>*
        <strong>Capital</strong>: 15 Concejales</p>
      <p>*
        <strong>Castro</strong>
        <strong>Barros</strong>: 7 Concejales</p>
      <p>*
        <strong>Chamical</strong>: 9 Concejales</p>
      <p>*
        <strong>Chilecito</strong>: 13 Concejales</p>
      <p>*
        <strong>Coronel Felipe Varela</strong>: 7 Concejales</p>
      <p>*
        <strong>Famatina</strong>: 7 Concejales</p>
      <p>*
        <strong>Gral. Belgrano</strong>: 7 Concejales</p>
      <p>*
        <strong>Gral. Lamadrid</strong>: 7 Concejales</p>
      <p>*
        <strong>Gral. Ortiz de Ocampo</strong>: 7 Concejales</p>
      <p>*
        <strong>Gral. San Martín</strong>: 7 Concejales</p>
      <p>*
        <strong>Independencia</strong>: 7 Concejales</p>
      <p>*
        <strong>Gral. Juan Facundo Quiroga</strong>: 7 Concejales</p>
      <p>*
        <strong>Rosario Vera Peñaloza</strong>: 9 Concejales</p>
      <p>*
        <strong>San Blas de Los Sauces</strong>: 7 Concejales</p>
      <p>*
        <strong>Sanagasta</strong>: 7 Concejales</p>
      <p>*
        <strong>Vinchina</strong>: 7 Concejales</p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div>
      <img src="img/dx5zZ0fRXKB2AQIi78Xw_ImagenMenudesplegable.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>