<ion-view title="" id="page19">
  <ion-content padding="true" class="has-header">
    <div>
      <p style="text-align: center;">
        <span style="color: #003366;">
          <strong>DIPUTADOS PROVINCIALES</strong>
        </span>
      </p>
      <p style="text-align: center;">
        <strong>PERÍODO 2019-2023</strong>
      </p>
      <p style="text-align: left;">&nbsp;</p>
      <p style="text-align: left;">
        <strong>EN LOS SIGUIENTES DEPARTAMENTOS:</strong>
      </p>
      <p>*&nbsp;
        <strong>Arauco</strong>: 3 diputados</p>
      <p>*
        <strong>Chamical</strong>:&nbsp;3 diputados</p>
      <p>*
        <strong>Chilecito</strong>: 4 diputados</p>
      <p>*
        <strong>General</strong>
        <strong>Belgrano</strong>: 1 diputado</p>
      <p>*
        <strong>Famatina</strong>: 1 diputado</p>
      <p>*
        <strong>General</strong>
        <strong>Lamadrid</strong>: 1 diputado</p>
      <p>*
        <strong>General</strong>
        <strong>Ortiz</strong>
        <strong>de</strong>
        <strong>Ocampo</strong>: 1 diputado</p>
      <p>*
        <strong>General</strong>
        <strong>San</strong>
        <strong>Martín</strong>: 1 diputado</p>
      <p>*&nbsp;
        <strong>Independencia</strong>: 1 diputado</p>
      <p>*&nbsp;
        <strong>San Blas de Los Sauces</strong>: 1 diputado</p>
      <p>*&nbsp;
        <strong>Ángel Vicente Peñaloza</strong>: 1 diputado</p>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <div>
      <img src="img/dx5zZ0fRXKB2AQIi78Xw_ImagenMenudesplegable.png" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>