<ion-view title="Preguntas Frecuentes" id="page22">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/nHfc6YqSPmHqiUWcysug_ContenidoparaSecciones..png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p style="text-align: center;">
        <span style="color: #003366;">
          <strong>¿Qué hago si las autoridades de mesa no me dejan votar?</strong>
        </span>
      </p>
      <p style="text-align: center;">
        <span style="color: #0000ff;">&nbsp;</span>
      </p>
      <p>Cualquiera sea el motivo, deben explicarte por qué no podés emitir tu voto (sea por un problema con tu DNI u otras razón) Si no te dan razones o te resultan inválidas, siempre podés dirigirte a un representante de la justicia electoral provincial
        para que te de las razones o te habilite a votar.</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p style="text-align: center;">
        <span style="color: #003366;">
          <strong>¿Qué hago si no puedo ir a votar?</strong>
        </span>
      </p>
      <p>&nbsp;</p>
      <p>Las únicas razones que lo justifican son razones de salud o de distancia. Salvo estas 2 razones, si no votás, quedará asentada tu ausencia en la justicia electoral.</p>
      <p>Si estás enfermo, deberás contar con un certificado médico que así lo acredite y presentarlo dentro de los 30 días corridos en el Tribunal Electoral.</p>
      <p>Si estás a más de 300 km del lugar de votación, debés presentarte ante la autoridad policial del lugar donde estés, para que allí confeccionen un certificado que acredite tu imposibilidad de estar en tu lugar de votación, y presentarlo dentro de
        los 30 días corridos en el Tribunal Electoral.</p>
      <p>&nbsp;</p>
      <p style="text-align: center;">
        <span style="color: #003366;">
          <strong>¿Qué cosas están prohibidas el día de la elección?</strong>
        </span>
      </p>
      <p>&nbsp;</p>
      <p>Desde las 00 hs del día de la elección, no se pueden hacer actos políticos. Tampoco se pueden realizar espectáculos públicos, populares, culturales ni deportivos. Los comercios no pueden vender ningún tipo de bebidas alcohólicas. No se pueden portar
        armas. No se pueden usar banderas, gorras, remeras u objetos que identifiquen una preferencia política o partidaria. No se pueden hacer reuniones políticas o de electores en una casa o en un partido político que estén a menos de ochenta (80) metros
        de una mesa de votación. No se pueden ofrecer o entregar votos/boletas de sufragio a menos de ochenta metros (80 mts.) de una mesa de votación.</p>
    </div>
  </ion-content>
</ion-view>