<ion-view title="¿Qué elegimos?" id="page4">
  <ion-content padding="true" class="has-header">
    <p>
      <strong>El Próximo 12 de mayo se llevarán a cabo las elecciones&nbsp;generales a nivel provincial, los cargos en disputa, para ejercer durante el período 2019-2023, serán:</strong>
    </p>
    <div class="spacer" style="height: 30px;"></div>
    <a ui-sref="iNNOVALaRioja.page18()" id="QuElegimos-button3" class="button button-assertive button-small button-block">GOBERNADOR Y VICEGOBERNADOR </a>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="iNNOVALaRioja.page19()" id="QuElegimos-button4" class="button button-assertive button-small button-block">DIPUTADOS PROVINCIALES</a>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="iNNOVALaRioja.page20()" id="QuElegimos-button5" class="button button-assertive button-small button-block">INTENDENTE Y VICEINTENDENTE</a>
    <div class="spacer" style="height: 20px;"></div>
    <a ui-sref="iNNOVALaRioja.page21()" id="QuElegimos-button6" class="button button-assertive button-small button-block">CONCEJALES MUNICIPALES </a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>